<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contractors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body class="bg-body-secondary">
    <header>
        <div class="lefthead">
            <img class="headerimg" src="static\img\logo.PNG" alt="logo image">
            <p class="welcom fs-3 text-body-Light">Welcome {{contractor_name}}</p>
        </div>
        <div class="righthead">
            <a href="/logout" class="text-decoration-none fs-6 text-light text-opacity-75">Log out</a>
        </div> 
       
    </header>
    <article>
        <!-- *****filter the contractors according to their specialist***** -->
        <div class="topcontainer1">
            <h2>Welcome to our community</h2>
            <form action="/filter" method='post'>
            {% csrf_token %}
                <select class="select" name="specialized_in" id="specialized_in">
                    {% for contractor in all_contractors %}
                    <option value="{{ contractor.spcialized_in }}">{{ contractor.spcialized_in }}</option>
                    {% endfor %}
                    <option value="All" selected>All</option>
                </select>
                <button class="selectbtn fw-bold">Select</button>
            </form>
        </div>
        {% if myselection %}
            <div class="allcontractors1">
                {% for contractor in myselection %}
                <div class="cardcontractor text-center">
                    <h5>{{ contractor.first_name }} {{ contractor.last_name }}</h5>
                    <p>Specialized in {{ contractor.spcialized_in }}</p>
                    <a href="/contractordetails/{{contractor.id}}" class="btn btn-info btn-sm">View</a>    
                </div>
                {% endfor %}
            </div> 
        {% else %}
            <div class="allcontractors">
                {% for contractor in all_contractors %}
                <div class="cardcontractor text-center">
                    <h5>{{ contractor.first_name }} {{ contractor.last_name }}</h5>
                    <p>Specialized in {{ contractor.spcialized_in }}</p>
                    <a href="/contractordetails/{{contractor.id}}" class="btn btn-info btn-sm">View</a>    
                </div>
                {% endfor %}
            </div> 
        {% endif %}
    </article>
        
    <footer class="text-center">
        <img class="footerimg" src="static\img\logo.PNG" alt="logo image">
    </footer>
</body>